@forward 'includes';
@use './includes/functions' as f;

.shadow{
    -webkit-box-shadow: 0px 12px 3px -3px rgba(0,0,0,.3);
    box-shadow: 0px 12px 3px -3px rgba(0,0,0,.3);
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: f.calcRem(16);
    font-weight: 400;
    background: linear-gradient(var(--red-faded1),var(--red-faded2)), url("../images/bg-intro-mobile.png") no-repeat center fixed;
	background-size: cover;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: f.calcEm(20);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: f.calcEm(20);

    #info{
        display: grid;
        color: var(--white);
        padding: f.calcEm(40) f.calcEm(10);

        h1{font-weight: 700;margin-bottom: f.calcEm(10);}
    }

    #subscription{
        display: grid;
        gap: f.calcEm(20);
        flex: 1 0 f.calcEm(450);
        flex: 0 1 f.calcEm(450);

        #trial-info{
            @extend .shadow;
            background: var(--blue);
            padding: f.calcEm(20) f.calcEm(50);
            border-radius: f.calcEm(10);
            color: var(--white);

            span{font-weight: 600;}
        }
        form{
            display: grid;
            @extend .shadow;
            gap: f.calcEm(10);
            background: var(--white);
            border-radius: f.calcEm(10);
            padding: f.calcEm(20);

            .inputs{
                input{
                    width: 100%;
                    padding: f.calcEm(20);
                    border-radius: f.calcEm(5);
                    border: 1px solid var(--grayish-blue);
                    position: relative;
    
                    &::placeholder{
                        font-weight: 700;
                    }
                }
                small{
                    text-align: end;
                    font-style: italic;
                    color: var(--red);
                    padding: f.calcEm(5);
                    font-size: f.calcRem(10);
                    display: none;
                }

                //Display input errors
                &.error label{
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 10px;
                        margin: auto 0;
                        width: f.calcEm(25);
                        height: f.calcEm(25);
                        background: url("../images/icon-error.svg") center / contain no-repeat;
                    }
                }

                &.error input{
                    border: 1px solid var(--red);
                    color: var(--red);

                    &::placeholder{color: var(--red);}
                }

                &.error small{display: block;}
            }

            #trial-btn{
                padding: f.calcEm(20);
                background: var(--green);
                color: var(--white);
                border: none;
                border-radius: f.calcEm(5);
                text-transform: uppercase;
                font-weight: 600;

                &:hover{
                    opacity: .7;
                    cursor: pointer;
                }
            }
        }
    }
}

small{
    display: block;
    &#terms{
        color: var(--grayish-blue);

        span{
            color: var(--red);
            font-weight: 600;
        }
    }
}

.attribution {font-size: 11px; text-align: center;display: none;}
.attribution a {color: var(--attribution-blue);}

@media (min-width: f.calcEm(992)){
    body{
        background: linear-gradient(var(--red-faded1),var(--red-faded2)), url("../images/bg-intro-desktop.png") no-repeat center fixed;
        height: 100vh;
    }

    .container{
        #info{
            flex: 1 1 f.calcEm(500);
            flex: 0 1 f.calcEm(500);
            text-align: start;
            padding: f.calcEm(40) f.calcEm(0);

            h1{
                padding-right: f.calcEm(40);
            }
        }

        #subscription{
            flex: 1 0 f.calcEm(500);
            flex: 0 1 f.calcEm(500);
        }
    }
}