:root{
    //Primary
    --red: hsl(0, 100%, 74%);
    --red-faded1: hsla(0, 100%, 74%,.4);
    --red-faded2: hsla(0, 100%, 74%,.8);
    --green: hsl(154, 59%, 51%);
    //Accent
    --blue: hsl(248, 32%, 49%);
    //Neutral
    --white: hsl(0, 0%, 100%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --attribution-blue: hsl(228, 45%, 44%);
}